.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background: linear-gradient(to right, #0a0a0a,  #011e2e);
  padding: 30px;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  height: 110px;
  position: fixed;
  z-index: 100;
}
.left-header {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.left-header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.left-header a {
  margin: 0px;
  font-size: 30px;
  font-weight: bold;
  color: var(--text-white);
}
.left-header img {
  border-radius: 100%;
}
.right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.navs {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
}
.right-header a {
  color: var(--text-white);
  font-weight: bold;
  transition: 0.15s all ease-in;
}
.right-header a:hover {
  color: var(--text-hover);
}
.toggle-btn {
  margin-left: 30px;
}

@media (max-width: 650px) {
  .toggle-btn {
    display: flex;
  }
  .navs {
    display: none;
  }
  .left-header a {
    font-size: 25px;
  }
  .left-header img {
   width: 45px; 
  }
}