* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}
:root {
  --text-black: #302f2f;
  --text-hover: orange;
  --text-white: #FFFFFF;
}
section {
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
}
.scroll {
  position: absolute;
  top: -110px;
  z-index: 2;
  height: 40px;
  margin-top: 110px;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  color: white;
}

.hero-bg {
  width: 100%;
  height: 100vh;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-image: url('/Images/bg.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}
.hero-bg-l {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background: linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.2),  #030a0e);
  z-index: 1;
}
.hero-section {
  margin-top: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
  padding: 30px 50px;
}
.h-content-r{
  display: flex;
  width: 100%;
  z-index: 1;
  flex-direction: column;
}
.hero-section h1 {
  color: white;
  z-index: 1;
  font-size: 50px;
  width: 100%;
  text-align: left;
  margin: 0px;
}
.hero-section p {
  color: white;
  z-index: 1;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-top: 20px;
}
.h-content-l {
  z-index: 1;
}
.h-content-r button {
  width: fit-content;
  padding: 10px 40px;
  border: none;
  border-radius: 20px;
  background-color: #b8e6ff;
  font-weight: bold;
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.15S all ease-in-out;
}
/* .h-content-r button:hover {
  box-shadow: ;
} */

button {
  position: relative;
  padding: 10px 20px;
  border-radius: 7px;
  border: 1px solid rgb(61, 106, 255);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  background: transparent;
  color: black;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

button:hover {
  background: rgb(56, 126, 183);
  box-shadow: 0 0 30px 5px rgba(38, 145, 216, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  color: white;
}

button:hover::before {
  -webkit-animation: sh02 0.5s 0s linear;
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%;
  }

  50% {
    opacity: 1;
  }

  to {
    opacity: 0;
    left: 100%;
  }
}

button:active {
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: box-shadow 0.2s ease-in;
  -moz-transition: box-shadow 0.2s ease-in;
  transition: box-shadow 0.2s ease-in;
}
.lower-grid {
  background-color: #011e2e;
  height: fit-content;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 50px 20px;
}
.lg-h {
  margin-top: 30px;
}
.lg-h-sec {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  padding: 0px 15px;
}
.lg-h h1 {
  font-size: 30px;
  margin: 0px;
}
.lg-h p {
  font-size: 16px;
  margin: 0px;
  font-weight: bold;
}
.grid {
  overflow: auto;
  white-space: nowrap;
  padding: 30px 0px;
  scrollbar-width: none;
  scroll-behavior: smooth;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 20px;
  height: 350px;
}
.card {
  background-color: var(--text-white);
  height: 300px;
  width: 300px;
  border-radius: 100%;
  display: inline-block;
  margin-right: 30px;
  margin-left: 20px;
  position: relative;
  transition: 0.15s all ease-in-out;
}
.card1 {
  margin-left: 10px;
}
.card:hover {
  outline: 4px solid orange;
}
.details {
  position: absolute;
  bottom: -90px;
  width: 100%;
  height: fit-content;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.details h2 {
  margin: 0px;
}
.details p {
  margin: 0px;
}
.arrow {
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: 0px;
  color: white;
  display: none;
}

.expanded {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
.more {
  display: flex;
  align-content: center;
  padding: 10px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
}

.lower-body{
  background-color: #082432;
  height: 100vh;
  color: white;
}
