* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('/Images/cyber.jfif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
:root {
  --bg-: #011e2e;
  --text-black: #302f2f;
  --text-hover: orange;
  --text-white: #FFFFFF;
}

form {
  display: flex;
  padding: 30px 30px;
  box-sizing: border-box;
  width: fit-content;
  height: fit-content;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1)
}
.email-wrap, .password-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: fit-content;
  width: fit-content;
  display: flex;
  position: relative;
}
.email-log, .password-log {
  width: 300px;
  padding: 0px 30px;
  height: 40px;
  box-sizing: border-box;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-weight: bold;
  font-weight: 13.5px;
  margin-top: 10px;
}
.rem {
  font-size: 12px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0px;
  color: white
}
.img-at {
  position: absolute;
  top: 17px;
  left: 20px;
  transform: translate(-50%);
  width: 15px;
}
.r-f {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.r-f p {
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  margin: 0px;
  width: fit-content;
  transition: 0.15s all ease-in-out;
  cursor: pointer;
}
.r-f p:hover {
  text-decoration: underline;
}
.log {
  width: 100%;
  border-radius: 20px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  border: none;
  background-color: white;
  font-weight: bold;
  margin-top: 20px;
  color: var(--text-black);
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid white;
}
input::placeholder {
  color: white;
}
input:focus {
  background-color: transparent;
  outline: none;
  color: white;
}
.log-intro {
  color: white;
  margin: 0px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.reg {
  font-size: 13.5px;
  color: white;
}
.reg a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
}
.reg a:hover {
  text-decoration: underline;
}
@media (max-width: 390px) {
  form {
    width: 90%;
  }
  .email-log, .password-log {
    width: 100%;
  }
  .r-f {
    display: flex;
    align-items: center;
  }
}

@media (max-width: 335px) {
  .r-f {
    display: flex;
    align-items: center;
  }
  .r-f p, .r-f a  {
    font-size: 10px;
  }
}