* {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  text-decoration: none;
}
body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  margin-top: 110px;
}
:root {
  --bg-: #011e2e;
  --text-black: #302f2f;
  --text-hover: orange;
  --text-white: #FFFFFF;
}