.card1 {
  background-image: url(/Images/IMG-20250124-WA0055_2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card4 {
  background-image: url(/Images/uchenna.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.card5 {
  background-image: url(/Images/vincent.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
