.sidebar {
  display: none;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 200px;
  position: fixed;
  z-index: 200;
  top: 0;
  left: 0;
  background-color: rgba(1, 30, 46, 0.8); /* Light transparent background */  
  backdrop-filter: blur(10px); /* Background blur effect */   
  padding: 20px; /* Inner spacing */  
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Shadow for depth */
}
.sidebar-ts {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.s-ts-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.s-ts-name div {
  display: flex;
  align-items: center;
}
.s-ts-name div> a {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
.l-ts {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 10px 0px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.l-ts p {
  margin: 0px;
  color: white;
  font-weight: bold;
  font-size: 18px;
}
.login-acc {
  color: white;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
}
.login-acc:hover {
  text-decoration: underline;
}
.my-acc {
  color: orange;
  font-size: 14px;
  margin-top: 5px;
  font-weight: bold;
}
.sidebar-nav {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebar-nav a {
  color: white;
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 5px;
  font-weight: bold;
  transition: 0.15s all ease-in-out;
  padding: 10px 0px;
}
.sidebar-nav a:hover {
  background-color: rgba(0,0,0,0.2);
}
.csd {
  font-size: 45px;
}
